In [1]:
import pandas as pd

In [2]:
#dir_tbl = 'make_tables/'
dir_tbl = 'data_tables/'

In [3]:
file_name = 'test.tsv'
df = pd.read_table(file_name, sep='\t', header=0)

/scratch/smmortazavi/job_34399073/ipykernel_2862499/1272275152.py:2: DtypeWarning: Columns (25,68,70,71,75,76,77,78,79,80,81,82,86,97,98,99,100,101,102,103,104,108,109,110,111,112,113,114,115,119,120,121,122,123,124,125,126) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table(file_name, sep='\t', header=0)

In [4]:
def get_df_flt(df, flt_name, svtypes, ext_col=None, flt_sd_art=True, freq_col=None, freq_thr=None):
    if not ext_col:
        df_flt = df.loc[((df[f'NUM_{flt_name}'] > 0) | (df['NUM_IL_SAMPLES'] > 0)) & (df.SVTYPE.isin(svtypes))]
    else:
        df_flt = df.loc[((df[f'NUM_{flt_name}'] > 0) | (df['NUM_IL_SAMPLES'] > 0)) & (df.SVTYPE.isin(svtypes)) & (df[ext_col]==1)]
    if flt_sd_art:
        df_flt = df_flt.loc[~((df_flt.SD_ART==1) & (df_flt.PLATFORM=='LR'))]
    if freq_thr != None:
        df_flt = df_flt.loc[df_flt[f'freq_{freq_col}']<=freq_thr]
    return df_flt

In [5]:
### make tables of significantly associated categories in the burden tests
#flt_name = 'SQ20_SAMPLES'
flt_name = 'SQ70_SAMPLES'
include_svtypes = ['INS', 'DEL', 'DUP', 'INV', '.']
freq_col = 'AD2_SAMPLES'

fts = ['PLIp9_DEV_BR_GENE_10_cds', 'PLIp9_DEV_BR_GENE_10_utr', 'PLIp9_DEV_BR_GENE_10_intron', 
       'DEV_BR_GENE_10_cds', 'DEV_BR_GENE_10_utr', 'DEV_BR_GENE_10_intron', 
       'PLIp9_cds', 'PLIp9_utr', 'PLIp9_intron', 
       'LOWPLI_cds', 'LOWPLI_utr', 'LOWPLI_intron', 'intergenic', 'genic', 'genic_cds', 'genic_utr', 'genic_intron']

cols_clean = ['CHROM', 'POS', 'END', 'ID', 'SVTYPE', 'PLATFORM', 'SVLEN', 'SRC', 'GENCODE', 'denovo_LR', 'denovo_LR_LC', 
              'MAT_INH_LR', 'MAT_INH_LR_LC', 'PAT_INH_LR', 'PAT_INH_LR_LC', 'PMAT_INH_LR_LC', 'denovo_IL', 'denovo_IL_LC', 
              'MAT_INH_IL', 'PAT_INH_IL', 'PMAT_INH_IL', 'AC', 'PASS_STRICT', 'TR50', 'SD50', 'HWP', 
              'SQ5_SAMPLES', 'SQ10_SAMPLES', 'SQ20_SAMPLES', 'SQ30_SAMPLES', 'SQ40_SAMPLES', 'SQ50_SAMPLES', 'SQ60_SAMPLES', 'SQ70_SAMPLES', 
              'AD2_SAMPLES', 'AD3_SAMPLES', 'AD4_SAMPLES', 'AD5_SAMPLES',
              'HET_SAMPLES', 'HOMALT_SAMPLES', 'gnomadV4_AF', 'gnomadV4_PC', 'gnomadV4_POPMAX_AF', 'gnomadV4_name', 
              'GNOCCHI', 'FB_PR_ENH_M', 'FB_PR_ENH_F', 'FANTOM_ENH', 'Consequence', 'IMPACT', 'SYMBOL', 'GENE', 'BIOTYPE', 'DISTANCE', 
              'TSSDistance', 'LOF_DUP_INV', 'LOF_DUP_INV_GENES', 'SD_ART', 'SD_SEG1', 'SD_SEG2', 
              'GENES_PLI', 'MAX_PLI', 'MAX_PLI_GENE', 'GENES_LOEUF', 'MIN_LOEUF', 'MIN_LOEUF_GENE', 
              'GENES_FDR_ASD', 'MIN_FDR_ASD', 'MIN_FDR_ASD_GENE', 'GENES_FDR_DD', 'MIN_FDR_DD', 'MIN_FDR_DD_GENE', 
              'GENES_FDR_NDD', 'MIN_FDR_NDD', 'MIN_FDR_NDD_GENE']

cols_need_case = ['SQ5_SAMPLES', 'SQ10_SAMPLES', 'SQ20_SAMPLES', 'SQ30_SAMPLES', 'SQ40_SAMPLES', 'SQ50_SAMPLES', 'SQ60_SAMPLES', 'SQ70_SAMPLES', 
              'AD2_SAMPLES', 'AD3_SAMPLES', 'AD4_SAMPLES', 'AD5_SAMPLES',
              'HET_SAMPLES', 'HOMALT_SAMPLES']
cols_case = [f'case_{x}' for x in cols_need_case]

# augment clean columns by cases
cols_clean = cols_clean + cols_case

df_flt = get_df_flt(df, flt_name, include_svtypes, flt_sd_art=True, freq_col=freq_col, freq_thr=0.05)
print(f'total: {df.shape}')
print(f'filtered: {df_flt.shape}')

for ft in fts:
    this_df_flt = df_flt.loc[(df_flt[f'X_{ft}']==1)]
    file_out =  dir_tbl +  f'table_{ft}_{flt_name}.tsv'
    print(file_out)
    this_df_flt[cols_clean].to_csv(file_out, sep='\t', header=True, index=False)
    print(f'this_df_flt shape: {this_df_flt.shape}')

total: (344736, 456)
filtered: (16430, 456)
data_tables/table_PLIp9_DEV_BR_GENE_10_cds_SQ70_SAMPLES.tsv
this_df_flt shape: (37, 456)
data_tables/table_PLIp9_DEV_BR_GENE_10_utr_SQ70_SAMPLES.tsv
this_df_flt shape: (21, 456)
data_tables/table_PLIp9_DEV_BR_GENE_10_intron_SQ70_SAMPLES.tsv
this_df_flt shape: (807, 456)
data_tables/table_DEV_BR_GENE_10_cds_SQ70_SAMPLES.tsv
this_df_flt shape: (75, 456)
data_tables/table_DEV_BR_GENE_10_utr_SQ70_SAMPLES.tsv
this_df_flt shape: (49, 456)
data_tables/table_DEV_BR_GENE_10_intron_SQ70_SAMPLES.tsv
this_df_flt shape: (1438, 456)
data_tables/table_PLIp9_cds_SQ70_SAMPLES.tsv
this_df_flt shape: (71, 456)
data_tables/table_PLIp9_utr_SQ70_SAMPLES.tsv
this_df_flt shape: (52, 456)
data_tables/table_PLIp9_intron_SQ70_SAMPLES.tsv
this_df_flt shape: (2263, 456)
data_tables/table_LOWPLI_cds_SQ70_SAMPLES.tsv
this_df_flt shape: (318, 456)
data_tables/table_LOWPLI_utr_SQ70_SAMPLES.tsv
this_df_flt shape: (175, 456)
data_tables/table_LOWPLI_intron_SQ70_SAMPLES.tsv
this_df_flt shape: (4062, 456)
data_tables/table_intergenic_SQ70_SAMPLES.tsv
this_df_flt shape: (4569, 456)
data_tables/table_genic_SQ70_SAMPLES.tsv
this_df_flt shape: (6941, 456)
data_tables/table_genic_cds_SQ70_SAMPLES.tsv
this_df_flt shape: (389, 456)
data_tables/table_genic_utr_SQ70_SAMPLES.tsv
this_df_flt shape: (227, 456)
data_tables/table_genic_intron_SQ70_SAMPLES.tsv
this_df_flt shape: (6325, 456)

In [13]:
### make table of high confident "coding" "LOF" in "constraint genes"
df_flt = df[((df.X_LOF_PLIp9_cds==1) | (df.X_LOF_LOEUF_cds==1) | 
             (df.X_LOF_FDR_ASD_cds==1) | (df.X_LOF_FDR_DD_cds==1) | (df.X_LOF_FDR_NDD_cds==1))]
df_flt = df_flt[df_flt.SD_ART!=1]

flt_name = 'AD2_SAMPLES'
flt_name2 = 'AD3_SAMPLES'
freq_col = 'AD2_SAMPLES'
df_flt = df_flt[(df_flt[f'NUM_{flt_name}']>0) | (df_flt['NUM_IL_SAMPLES'] > 0)]

cols = ['CHROM', 'POS', 'END', 'ID', 'SVTYPE', 'PLATFORM', 'SVLEN', 'SRC', 'GENCODE', 'SYMBOL', 'GENES_PLI', 'MAX_PLI', 
        'MAX_PLI_GENE', 'Consequence', f'freq_{freq_col}', 'IL_SAMPLES', 'case_IL_SAMPLES', flt_name, f'case_{flt_name}', 
        flt_name2, f'case_{flt_name2}']
df_flt = df_flt[cols]
print(df_flt.shape)

file_name = dir_tbl + f'table_LOF_CDS_constraint_{flt_name}.tsv'
print(file_name)
df_flt.to_csv(file_name, sep='\t', header=True, index=False)

(203, 21)
make_tables/table_LOF_CDS_constraint_AD2_SAMPLES.tsv

In [13]:
print(df[(df.denovo_LR!='.') | (df.denovo_IL!='.')].shape)
print(df[(df.denovo_LR!='.')].shape)
print(df[(df.denovo_LR!='.') & (df.AC<=1) & (df.gnomadV4_name=='.')].shape)

(35863, 451)
(35846, 451)
(24658, 451)

In [10]:
### make talbe of high confident de-novo SVs genomewide:
### marked denovo_LR (≥3 read support) or denovo_IL
### also not gnomad variants and AC≤1
ac_thr = 1

cols_general = ['CHROM', 'POS', 'END', 'ID', 'SVTYPE', 'PLATFORM', 'SVLEN', 'SRC', 'GENCODE', 'AC', 'TR50', 'SD50']
cols_dn = ['denovo_LR', 'denovo_LR_LC', 'denovo_IL', 'denovo_IL_LC', 'PASS_STRICT']
cols_dn_case = [f'case_{x}' for x in cols_dn[:-1]]
cols_gene = ['SYMBOL', 'GENES_PLI', 'MAX_PLI', 'MAX_PLI_GENE', 'Consequence']
cols_samples = ['SQ10_SAMPLES', 'SQ20_SAMPLES', 'SQ30_SAMPLES', 'AD2_SAMPLES', 'AD3_SAMPLES', 'AD4_SAMPLES', 'IL_SAMPLES']
cols_samples_case = [f'case_{x}' for x in cols_samples]
cols = cols_general + cols_dn + cols_dn_case + cols_gene + cols_samples + cols_samples_case

print(df[(df.denovo_LR!='.') | (df.denovo_IL!='.')].shape)
df_flt = df[((df.denovo_LR!='.') & (df.AC<=ac_thr) & (df.gnomadV4_name=='.')) | (df.denovo_IL!='.')][cols]
print(df_flt.shape)

file_name = dir_tbl + f'talbe_denovo_genomewide_supp3_AC1.tsv'
print(file_name)
df_flt.to_csv(file_name, sep='\t', header=True, index=False)

(3100, 451)
(67, 40)
make_tables/talbe_denovo_genomewide_supp3_AC1.tsv

In [12]:
# we need get_plat for later
file_cov = '/expanse/projects/sebat1/s3/data/sebat/long_reads_pipeline_results/coverages_mod.tsv'
#file_cov = '/tscc/projects/ps-sebat1/s3/data/sebat/long_reads_pipeline_results/coverages_mod.tsv'
df_cov = pd.read_table(file_cov, header=0, sep='\t')
multiplat_samples = ['REACH000236', 'REACH000530', 'REACH000531', 'REACH000532', 'REACH000436']
df_cov['SAMPLE'] = df_cov.apply(lambda row: row['SAMPLE']+'_'+row['COHORT'] if row['SAMPLE'] in multiplat_samples else row['SAMPLE'], axis=1)
df_cov_high = df_cov.loc[df_cov.SAMPLE.str.startswith('REACH000') & (df_cov.MEAN_COVERAGE > 9)]
display(df_cov)
high_cov_samples = df_cov_high.SAMPLE.tolist()
#print(high_cov_samples)

def get_plat(sample):
    try:
        ret = df_cov[df_cov.SAMPLE == sample]['COHORT'].values[0]
    except:
        print(f'problem with samples: {sample}')
        ret = ''
    return ret

plat_dict = {sample: get_plat(sample) for sample in df_cov.SAMPLE.tolist()}

          SAMPLE COHORT  MEAN_COVERAGE
0          HG004    ONT          81.44
1    REACH000626    ONT          10.51
2    REACH000546    ONT          10.87
3    REACH000683    ONT           9.97
4    REACH000563    ONT           8.68
..           ...    ...            ...
283  REACH000284     PB           3.43
284  REACH000672     PB           5.02
285  REACH000292     PB           9.00
286  REACH000066     PB           1.61
287     2602-2-1     PB           0.89

[288 rows x 3 columns]

In [13]:
# we need df_trios for later
file_psam = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/process_IL_LR/HWE/REACH_LR_platform.psam'
df_p = pd.read_table(file_psam, sep='\t', header=None, names = ['famid', 'sample_id', 'dad', 'mom', 'sex', 'phen'])
display(df_p)

# make mom and dad dictionary
sample_dad_dict = {}
sample_mom_dict = {}
for sample, dad, mom in zip(df_p.sample_id, df_p.dad, df_p.mom):
    #print(sample, dad, mom)
    sample_dad_dict[sample] = dad
    sample_mom_dict[sample] = mom

print('complete trios:')
df_trios = df_p.loc[df_p.dad.isin(df_p.sample_id) & df_p.mom.isin(df_p.sample_id)]
display(df_trios)
print(df_trios.sex.value_counts())
print(df_trios.phen.value_counts())

parents_set_lr = set(df_trios.dad.tolist()) | set(df_trios.mom.tolist())
print(f'len(parents_set_lr): {len(parents_set_lr)}')
#print(parents_set_lr)

rename_samples_dict_IL = {'REACH000236_PB': 'REACH000236_IL', 
                          'REACH000436_PB': 'REACH000436_IL', 
                          'REACH000530_PB': 'REACH000530_IL', 
                          'REACH000531_ONT': 'REACH000531_IL', 
                          'REACH000532_ONT': 'REACH000532_IL'}
parents_set_sr = {x if x not in rename_samples_dict_IL else rename_samples_dict_IL[x] for x in parents_set_lr}
print(f'len(parents_set_sr): {len(parents_set_sr)}')
#print(parents_set_sr)

parent_kids_dict = {}
mom_kids_dict = {}
dad_kids_dict = {}
for parent in parents_set_lr:
    parent_kids_dict[parent] = df_trios.loc[(df_trios.dad == parent) | (df_trios.mom == parent)].sample_id.tolist()
    if parent in df_trios.dad.tolist():
        dad_kids_dict[parent] = df_trios.loc[(df_trios.dad == parent)].sample_id.tolist()
    if parent in df_trios.mom.tolist():
        mom_kids_dict[parent] = df_trios.loc[(df_trios.mom == parent)].sample_id.tolist()
print(f'len(parent_kids_dict): {len(parent_kids_dict)}')
#print(parent_kids_dict)
print(f'len(mom_kids_dict): {len(mom_kids_dict)}')
#print(mom_kids_dict)
print(f'len(dad_kids_dict): {len(dad_kids_dict)}')
#print(dad_kids_dict)

mate_dict = {}
for dad, mom in zip(df_trios.dad, df_trios.mom):
    mate_dict[dad] = mom
    mate_dict[mom] = dad
print(f'len(mate_dict): {len(mate_dict)}')
#print(mate_dict)

     famid    sample_id          dad          mom  sex  phen
0     2323     2323-2-1            0            0    2     2
1     2602     2602-2-1            0            0    2     2
2     3392     3392-2-3            0            0    2     2
3     3538     3538-2-1            0            0    2     2
4     3939     3939-3-1            0            0    2     2
..     ...          ...          ...          ...  ...   ...
275  F0270  REACH000681  REACH000683  REACH000682    1     2
276  F0270  REACH000682            0            0    2     2
277  F0270  REACH000683            0            0    1     2
278  F0270  REACH000684  REACH000683  REACH000682    1     2
279  F0270  REACH000685  REACH000683  REACH000682    1     1

[280 rows x 6 columns]

complete trios:

     famid    sample_id          dad          mom  sex  phen
10   F0026  REACH000026  REACH000270  REACH000269    1     2
11   F0058  REACH000058  REACH000440  REACH000439    1     2
12   F0065  REACH000065  REACH000067  REACH000066    1     2
15   F0078  REACH000086  REACH000088  REACH000087    1     2
18   F0078  REACH000089  REACH000088  REACH000087    2     2
..     ...          ...          ...          ...  ...   ...
271  F0266  REACH000660  REACH000662  REACH000661    2     2
274  F0266  REACH000663  REACH000662  REACH000661    1     1
275  F0270  REACH000681  REACH000683  REACH000682    1     2
278  F0270  REACH000684  REACH000683  REACH000682    1     2
279  F0270  REACH000685  REACH000683  REACH000682    1     1

[117 rows x 6 columns]

sex
1    74
2    43
Name: count, dtype: int64
phen
2    92
1    25
Name: count, dtype: int64
len(parents_set_lr): 126
len(parents_set_sr): 126
len(parent_kids_dict): 126
len(mom_kids_dict): 63
len(dad_kids_dict): 63
len(mate_dict): 126

In [14]:
#file_pca = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/PCA/kid_pca_info.csv'
#file_pca = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/PCA/SummaryGeneticData_REACH_SSC_SPARK.SBayesR.20210915.csv'
file_pca = '/expanse/projects/sebat1/j3guevar/SFARI/aspera-sf/SFARI_DS468588/data/master_phen_4.SBayesR.20210915.csv'

df_pca = pd.read_table(file_pca, sep=',', header=0)
cols = ['fid', 'iid', 'phen','sex','cohort','duo','family','is_eur','PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10', 
        'PC1_PAT','PC2_PAT','PC3_PAT','PC4_PAT','PC5_PAT','PC6_PAT','PC7_PAT','PC8_PAT','PC9_PAT','PC10_PAT', 
        'PC1_MAT','PC2_MAT','PC3_MAT','PC4_MAT','PC5_MAT','PC6_MAT','PC7_MAT','PC8_MAT','PC9_MAT','PC10_MAT']
df_pca = df_pca[cols]

rename_samples_dict = {'REACH000236': 'REACH000236_PB', 
                       'REACH000436': 'REACH000436_PB', 
                       'REACH000530': 'REACH000530_PB', 
                       'REACH000531': 'REACH000531_ONT', 
                       'REACH000532': 'REACH000532_ONT'}
df_pca['iid'] = df_pca.apply(lambda row: rename_samples_dict[row['iid']] if row['iid'] in rename_samples_dict else row['iid'], axis=1)
#display(df_pca)

# first filter for the kids, then add parents to them
df_pca_flt = df_pca.loc[df_pca.iid.isin(df_trios.sample_id)].copy()
df_pca_flt['rel'] = 'C'
print('df_pca_flt:')
display(df_pca_flt)

df_parents = pd.DataFrame()
for index, row in df_pca_flt.iterrows():
    sample = row['iid']
    fid = row['fid']
    phen = row['phen']
    is_eur = row['is_eur']
    pc_mat = [row[f'PC{x}_MAT'] for x in range(1,11)]
    pc_pat = [row[f'PC{x}_PAT'] for x in range(1,11)]
    dad = sample_dad_dict[sample]
    mom = sample_mom_dict[sample]
    
    dict_mat = {'fid': [fid], 'iid': [mom], 'phen': ['.'], 'sex': ['Female'], 'cohort': [1], 'duo': ['.'], 'is_eur': [is_eur]}
    dict_mat.update({f'PC{x}': [pc_mat[x-1]] for x in range(1,11)})
    df_mat = pd.DataFrame(dict_mat)

    dict_pat = {'fid': [fid], 'iid': [dad], 'phen': ['.'], 'sex': ['Male'], 'cohort': [1], 'duo': ['.'], 'is_eur': [is_eur]}
    dict_pat.update({f'PC{x}': [pc_pat[x-1]] for x in range(1,11)})
    df_pat = pd.DataFrame(dict_pat)
    
    if df_parents.shape[0] == 0 or mom not in df_parents.iid.tolist():
        df_parents = pd.concat([df_parents, df_mat])
    if df_parents.shape[0] == 0 or dad not in df_parents.iid.tolist():
        df_parents = pd.concat([df_parents, df_pat])

df_parents['rel'] = 'P'
print('df_parents:')
display(df_parents)

df_pca_flt = pd.concat([df_pca_flt, df_parents])
df_pca_flt['Platform'] = df_pca_flt.apply(lambda row: get_plat(row.iid), axis=1)
print('df_pca_flt:')
display(df_pca_flt)

df_pca_flt:

,fid,iid,phen,sex,cohort,duo,family,is_eur,PC1,PC2,...,PC2_MAT,PC3_MAT,PC4_MAT,PC5_MAT,PC6_MAT,PC7_MAT,PC8_MAT,PC9_MAT,PC10_MAT,rel
136,F0001,REACH000001,ASD,Male,1,trio,1,1,0.008627,-0.005607,...,0.000410,0.002845,-0.019312,-0.013769,-0.014384,0.007249,0.002096,0.005399,-0.014983,C
137,F0026,REACH000026,ASD,Male,1,trio,1,0,0.095364,-0.045230,...,-0.047780,-0.017435,0.153686,0.005292,-0.009487,-0.020773,0.034190,0.015895,-0.011925,C
139,F0058,REACH000058,ASD,Male,1,trio,1,1,0.002422,-0.009216,...,-0.003289,0.003757,-0.004828,0.007650,0.005633,0.032103,0.009510,0.020007,0.016383,C
140,F0065,REACH000065,ASD,Male,1,trio,1,0,0.252774,0.107933,...,0.049799,0.158347,0.011411,0.004728,0.007690,-0.006605,0.008261,-0.012000,-0.009906,C
146,F0078,REACH000086,ASD,Male,1,trio,2,0,0.044785,0.038065,...,0.080387,0.132056,0.029583,0.020156,0.007971,-0.002383,0.014468,0.006253,-0.018303,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,F0290,REACH000762,ASD,Male,1,trio,1,1,-0.027901,0.000946,...,0.003052,-0.009075,-0.014136,-0.005499,-0.008555,0.015644,0.004869,0.011004,-0.019684,C
409,F0290,REACH000765,CON,Female,1,trio,1,1,-0.030809,-0.001867,...,0.003052,-0.009075,-0.014136,-0.005499,-0.008555,0.015644,0.004869,0.011004,-0.019684,C
410,F0290,REACH000766,CON,Female,1,trio,1,1,-0.028469,-0.005167,...,0.003052,-0.009075,-0.014136,-0.005499,-0.008555,0.015644,0.004869,0.011004,-0.019684,C
411,F0291,REACH000767,ASD,Male,1,trio,1,0,0.087690,-0.012273,...,-0.016917,-0.021358,0.151522,-0.035297,0.008383,0.005679,0.020179,-0.022316,0.002755,C
412,F0291,REACH000770,CON,Female,1,trio,1,0,0.102736,-0.007714,...,-0.016917,-0.021358,0.151522,-0.035297,0.008383,0.005679,0.020179,-0.022316,0.002755,C

df_parents:

,fid,iid,phen,sex,cohort,duo,is_eur,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,rel
0,F0001,REACH000107,.,Female,1,.,1,-0.022403,0.000410,0.002845,-0.019312,-0.013769,-0.014384,0.007249,0.002096,0.005399,-0.014983,P
0,F0001,REACH000226,.,Male,1,.,1,0.024023,-0.013482,-0.003936,0.129597,0.030587,-0.007727,-0.002212,-0.022159,0.005150,-0.000824,P
0,F0026,REACH000269,.,Female,1,.,0,0.100551,-0.047780,-0.017435,0.153686,0.005292,-0.009487,-0.020773,0.034190,0.015895,-0.011925,P
0,F0026,REACH000270,.,Male,1,.,0,0.091671,-0.037847,-0.022134,0.163193,0.007864,-0.006841,-0.023716,0.040800,0.006666,-0.012916,P
0,F0058,REACH000439,.,Female,1,.,1,-0.025327,-0.003289,0.003757,-0.004828,0.007650,0.005633,0.032103,0.009510,0.020007,0.016383,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,F0288,REACH000756,.,Male,1,.,0,0.204041,0.127559,0.190286,0.013553,0.006706,-0.001266,-0.010150,0.006605,-0.006867,0.006560,P
0,F0290,REACH000763,.,Female,1,.,1,-0.030630,0.003052,-0.009075,-0.014136,-0.005499,-0.008555,0.015644,0.004869,0.011004,-0.019684,P
0,F0290,REACH000764,.,Male,1,.,1,-0.027327,-0.004878,-0.003881,0.000495,0.003727,-0.001647,-0.008831,0.016730,-0.005315,0.006958,P
0,F0291,REACH000768,.,Female,1,.,0,0.091442,-0.016917,-0.021358,0.151522,-0.035297,0.008383,0.005679,0.020179,-0.022316,0.002755,P
0,F0291,REACH000769,.,Male,1,.,0,0.086006,-0.003008,-0.018691,0.150184,-0.024530,0.006159,-0.002022,0.016434,-0.002075,-0.013056,P

df_pca_flt:

,fid,iid,phen,sex,cohort,duo,family,is_eur,PC1,PC2,...,PC3_MAT,PC4_MAT,PC5_MAT,PC6_MAT,PC7_MAT,PC8_MAT,PC9_MAT,PC10_MAT,rel,Platform
136,F0001,REACH000001,ASD,Male,1,trio,1.0,1,0.008627,-0.005607,...,0.002845,-0.019312,-0.013769,-0.014384,0.007249,0.002096,0.005399,-0.014983,C,ONT
137,F0026,REACH000026,ASD,Male,1,trio,1.0,0,0.095364,-0.045230,...,-0.017435,0.153686,0.005292,-0.009487,-0.020773,0.034190,0.015895,-0.011925,C,PB
139,F0058,REACH000058,ASD,Male,1,trio,1.0,1,0.002422,-0.009216,...,0.003757,-0.004828,0.007650,0.005633,0.032103,0.009510,0.020007,0.016383,C,PB
140,F0065,REACH000065,ASD,Male,1,trio,1.0,0,0.252774,0.107933,...,0.158347,0.011411,0.004728,0.007690,-0.006605,0.008261,-0.012000,-0.009906,C,PB
146,F0078,REACH000086,ASD,Male,1,trio,2.0,0,0.044785,0.038065,...,0.132056,0.029583,0.020156,0.007971,-0.002383,0.014468,0.006253,-0.018303,C,PB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,F0288,REACH000756,.,Male,1,.,NaN,0,0.204041,0.127559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,PB
0,F0290,REACH000763,.,Female,1,.,NaN,1,-0.030630,0.003052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,PB
0,F0290,REACH000764,.,Male,1,.,NaN,1,-0.027327,-0.004878,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,PB
0,F0291,REACH000768,.,Female,1,.,NaN,0,0.091442,-0.016917,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,PB
0,F0291,REACH000769,.,Male,1,.,NaN,0,0.086006,-0.003008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,PB

In [39]:
# make talbe of pli≤.9, exonic, for ONT and PB to investigate different results of associations for PB and ONT
flt_name = 'SQ70_SAMPLES'
samples_col = 'AD2_SAMPLES'
freq_col = 'AD2_SAMPLES'
include_svtypes = ['INS', 'DEL', 'DUP', 'INV', '.']

fts = ['LOWPLI_cds', 'LOWPLI_utr']

df_flt = get_df_flt(df, flt_name, include_svtypes, flt_sd_art=True, freq_col=freq_col, freq_thr=0.05)
print(f'total: {df.shape}')
print(f'filtered: {df_flt.shape}')

samples_all = df_pca_flt.iid.tolist()

for ft in fts:
    print(ft)
    this_df = df_flt.loc[df_flt[f'X_{ft}'] == 1]
    temp_lr = this_df[samples_col].str.split(',').tolist()
    temp_sr = this_df['IL_SAMPLES_LR'].str.split(',').tolist()
    #temp = temp_lr + temp_sr
    temp = [x + y for x, y in zip(temp_lr, temp_sr)]
    print(f'len temp: {len(temp)}')
    print(f'this_df shape: {this_df.shape}')

    #display(temp[:10])

    plat_sets_list = []
    for s_list in temp:
        plats = [plat_dict[s] for s in s_list if s != '.']
        plat_sets_list.append(set(plats))
        #print(plats)
    #print(plat_sets_list)

    is_ont = [('ONT' in s) and ('PB' not in s) for s in plat_sets_list]
    is_pb = [('PB' in s) and ('ONT' not in s) for s in plat_sets_list]
    is_ont_pb = [('ONT' in s) and ('PB' in s) for s in plat_sets_list]
    #print(is_ont)
    #print(is_pb)
    #print(is_ont_pb)

    this_df_ont = this_df.loc[is_ont,:]
    this_df_pb = this_df.loc[is_pb,:]
    this_df_ont_pb = this_df.loc[is_ont_pb,:]
    #display(this_df_ont)
    #display(this_df_pb)
    #display(this_df_ont_pb)

    file_name = dir_tbl + f'table_platONT_{ft}_{flt_name}_samples_col_freq05.tsv'
    print(file_name)
    this_df_ont.to_csv(file_name, sep='\t', header=True, index=False)

    file_name = dir_tbl + f'table_platPB_{ft}_{flt_name}_samples_col_freq05.tsv'
    print(file_name)
    this_df_pb.to_csv(file_name, sep='\t', header=True, index=False)

    file_name = dir_tbl + f'table_platONTPB_{ft}_{flt_name}_samples_col_freq05.tsv'
    print(file_name)
    this_df_ont_pb.to_csv(file_name, sep='\t', header=True, index=False)

    
    #display(temp[:20])
    #print('++++++++++++++')
    #display(temp_lr[:10])
    #print('++++++++++++++')
    #display(temp_sr[:10])
    #this_samples_list = []
    #for x in temp:
    #    this_samples_list.extend(x)
    #count_col = []
    #for sample in df_pca_flt.iid.tolist():
    #    count_col.append(this_samples_list.count(sample))
    #df_main[f'count_{ft}'] = count_col

total: (344736, 451)
filtered: (16430, 451)
LOWPLI_cds
len temp: 334
this_df shape: (334, 451)
make_tables/table_platONT_LOWPLI_cds_SQ70_SAMPLES_samples_col_freq05.tsv
make_tables/table_platPB_LOWPLI_cds_SQ70_SAMPLES_samples_col_freq05.tsv
make_tables/table_platONTPB_LOWPLI_cds_SQ70_SAMPLES_samples_col_freq05.tsv
LOWPLI_utr
len temp: 182
this_df shape: (182, 451)
make_tables/table_platONT_LOWPLI_utr_SQ70_SAMPLES_samples_col_freq05.tsv
make_tables/table_platPB_LOWPLI_utr_SQ70_SAMPLES_samples_col_freq05.tsv
make_tables/table_platONTPB_LOWPLI_utr_SQ70_SAMPLES_samples_col_freq05.tsv